<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Cars on the Lot!</title>
</head>
<body>
  <h1>Cars index page</h1>
    <ul>
        <% for(let i = 0; i < cars.length; i++){ %>
        <li>
            The <a href="/cars/<%=i%>"><%=cars[i].name; %></a>.
        </li>

        <form action="/cars/<%=i;%>?_method=DELETE" method="POST">
            <button type='submit'>Delete</button>
        </form>
        <a href="/cars/<%=i%>/edit">Edit</a>
        <% } %>
    </ul>
    <nav>
        <a href="/cars/new">Create a New Cars</a>
    </nav>
</body>
</html>